/* Import de la police Inter (400-500-700) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Base Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thème global */
:root {
  color-scheme: dark;
}

/* Optionnel : améliore le rendu du texte */
body {
  @apply bg-night text-white font-sans antialiased;
}
